{% extends "base.html.twig" %}

{% block title %}Rédiger un article{% endblock %}
{% block page_title %}Rédiger un article{% endblock %}

{% block body %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

